<p>Forecast for {{ city }}</p>

<hr />
Days: <a ng-href="#/forecast/1" ng-class="{ 'bg-primary': days === '1' }">Today</a> | <a ng-href="#/forecast/3" ng-class="{ 'bg-primary': days === '3' }">3</a> | <a ng-href="#/forecast/5" ng-class="{ 'bg-primary': days === '5' }">5</a> | <a ng-href="#/forecast/7" ng-class="{ 'bg-primary': days === '7' }">7</a>
<hr />


<div ng-repeat="w in weatherResult.list">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ convertDt(w.dt) | date }}</h3>
        </div>
        <div class="panel-body">
          Daytime Temperature: {{ convertToF(w.temp.day) }}
        </div>
      </div>
    </div>
  </div>

</div>
