<p>

Back to <a ng-href="#/">Search</a>

</p>

<p>Forecast for {{ city }}</p>

<hr />
Days: <a ng-href="#/forecast/1" ng-class="{ 'bg-primary': days === '1' }">Today</a> | <a ng-href="#/forecast/3" ng-class="{ 'bg-primary': days === '3' }">3</a> | <a ng-href="#/forecast/5" ng-class="{ 'bg-primary': days === '5' }">5</a> | <a ng-href="#/forecast/7" ng-class="{ 'bg-primary': days === '7' }">7</a>
<hr />


<div ng-repeat="w in weatherResult.list">
  <div class="row">
    <div class="col-md-12">
      <weather-report weather-day="w" convert-temp="convertToF(degK)" convert-date="convertDt(dt)" date-format="MMM d, y"></weather-report>
    </div>
  </div>

</div>
